# Ignorar directorio node_modules
node_modules/

# Ignorar directorio dist (para proyectos compilados)
dist/

# Ignorar archivo .env (archivos de configuración sensibles)
.env

# Ignorar archivos .DS_Store (archivos de sistema de macOS)

